<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>MES协作平台</title>
  <% include include/css %>
  <script src="https://land.xiaomi.net/res/bc418e8/scripts/micloudfe/jquery-1.10.2.min.js"></script>
</head>
<body>
        <div class="gray-bg" style="display:none" id="bg"></div>
        <div class="dialog" style="width:400px;display:none" id="dialog">
	      <div class="dialog-head">
		<p class="dia-title" >修改密码</p>
	      </div>
	      <div class="dialog-con">
		<form action="">
		<p class="dia-form-tip tl-c">请注意密码的隐蔽以及安全性，谨慎修改！</p>
		<input type="password" class="global-input" placeholder="旧密码" id="oldpassword">
		<input type="password" class="global-input" placeholder="新密码" id="newpassword">
		<input type="password" class="global-input" placeholder="重复新密码" id="repeatpassword">
		<div class="single-btn-area">
		  <input class="btn" type="button" value="确定" id="do_change_password">
		  <input class="btn" type="button" value="取消" id="cancel_change_password">
		</div>
	      </form>
	      </div>
	    </div>
	<div class="al-head" id="home">
	 <div class="fl-l"><img src="<%=STATIC_DOMAIN%>admin/img/admin-mes-logo.png" width="120"/>内部协作平台</div>
	 <div class="fl-r"><a href="#" class="edit-password" id="change_password">修改密码</a></div>
	</div>
	<div class="al-center" id="container">
	</div>
	<div class="al-center" id="mod-container" style="display:none;padding:0">
	<iframe id="show_container" frameborder="0" width="100%"  height="100%" ></iframe>
	</div>
	<div class="al-footer al-head">技术支持：任远  Tel:18688943324</div>
	<script>var config = <%-data%></script>
	<script>
        location.hash = '';
	
	var html = '';
	var mod = {};
	var modContainer = $('#show_container');
	var homeContainer = $('#container');
	for(var i=0;i<config.length;i++){
	   var d = config[i];
	   mod[d.name] = d;
           html+='<a href="#'+d.name+'" class="enter-item project_item" url="'+d.url+'"><img src="<%=STATIC_DOMAIN%>admin/img/'+d.icon+'"/><span>'+d.chnName+'</span></a>';
	}

	$('#container').html(html);
	$('body').delegate('.project_item','click',function(){
	  var _this = $(this);
	  var url = _this.attr('url');
          $('#mod-container').show();
          $('#container').hide();
	  $('#show_container').attr('src',url);
	});
	$('#home').click(function(){
	  location.hash = '';
	});
	$(window).bind('hashchange',function(){
	  var m = location.hash.replace(/^#/,'');
	  if(m in mod){
	     homeContainer.hide();
	     modContainer.show();
	     modContainer.attr('src',mod[m].url);
	  }else{
	     homeContainer.show();
	     modContainer.hide();
	  }
	});
	$('#change_password').click(function(){
		$('#dialog').show();
		$('#bg').show();
	});
	
	$('#do_change_password').click(function(){
	  var newpassword = $('#newpassword').val();
	  var oldpassword = $('#oldpassword').val();
	  var repeatpassword = $('#repeatpassword').val();
	  if(newpassword!=repeatpassword){
		alert('两次输入的密码不同，请重新输入');
		return;
	  }

	  if(newpassword.split('').length<6){
		alert('密码长度至少为6位！');
		return;
	  }
	  var repeatpassword = $('#repeatpassword');
	  $.post('/changepassword',{
		oldpassword:oldpassword,
		newpassword:newpassword
	  },function(d){
		if(d.res){
			alert('密码修改成功，请重新登录！');
			location.reload();
		}else{
			alert('密码修改失败');
			$('#bg').hide();
		}
	  },'json')
	});
	
	$('#cancel_change_password').click(function(){
		$('#dialog').hide();
		$('#bg').hide();
	});

	</script>
</body>
</html>